<div id="message">
  <center>
    <h2>Bienvenidos a Trivia KPMG</h2>
    <h4>Seleccionar "QUE COMIENCE EL RETO" para iniciar la trivia.</h4>
    <h4>Recuerda que para volver salir de la trivia solo tienes que deslizar la pantalla. Suerte!!!</h4>
    <br>
      <a class="waves-effect waves-light btn blue darken-3 modal-trigger {{classAnimate}}" href="#modalTest" style="height:100%;-webkit-animation-iteration-count: infinite;"  >
      <h3>Que comience el reto</h3></a>
      
  </center>
  <br>

  <!-- -->
  <div ng-repeat="pre in objBDPregunta| limitTo : 1:preguntaw" id="modalTest" class="modal {{stl}}">
    <div class="modal-content">  
      <h4>{{numPregunta}}. {{pre.enunciado}}</h4><div style="height: 10px;"></div>
      <center class="right purple darken-3" style="color: white; width: 30%;">Puntaje :{{correctas}} de {{contador}}</center>
      <div style="height: 10px;"></div>
      <p>Seleccione una opción:</p>
      <form>
        <p>
          <input value="{{pre.alternativa1}}" ng-model="p1" name="p1" type="radio" id="p1o1" />
          <label style="font-size: 1em;" for="p1o1">{{pre.alternativa1}}</label>
        </p>
        <p>
          <input value="{{pre.alternativa2}}" ng-model="p1" name="p1" type="radio" id="p1o2" />
          <label style="font-size: 1em;" for="p1o2">{{pre.alternativa2}}</label>
        </p>
        <p>
          <input value="{{pre.respuesta}}" ng-model="p1" name="p1" type="radio" id="p1o3"  />
          <label style="font-size: 1em;" for="p1o3">{{pre.respuesta}}</label>
        </p>
        <p>
          <input value="{{pre.alternativa3}}" ng-model="p1" name="p1" type="radio" id="p1o4"  />
          <label style="font-size: 1em;" for="p1o4">{{pre.alternativa3}}</label>
        </p>
      </form>        
    </div>
    <div class="modal-footer">
      <button type="submit" ng-click="validarPregunta(p1, pre, preguntaw)" class="modal-action waves-effect blue darken-4 btn-flat" style="color:white;margin-right: 1.75%;">Aceptar</button>
    </div>
  </div>
  <div id="modalResultado" class="modal">
    <div class="modal-content">
      <center>
        <h2>{{resTitulo}}</h2>
        <h3>{{resDescripcion}}</h3>
      </center>
      <br>
      <h4>Retroalimentación:</h3>
      <div ng-repeat="fb in retoFeedBack track by $index">
      <div>Pregunta: {{fb.enunciado}}</div>
      <div>Respuesta: {{fb.respuesta}}</div><br>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="terminarReto()" class=" modal-action waves-effect blue darken-4 btn-flat" style="color:white;">Terminar reto</button>
    </div>
  </div>

  <center>
    <img style="width:90%;" src="img/TRIVIA_fondo.png">
  </center>
  <audio controls autoplay loop>
    <source ng-src="{{audios}}" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>    
</div>
<div class="carousel carousel-slider">
  <a class="carousel-item" href="#one!"><img style="width:100%;" src="img/footer/footer_1.png"></a>
  <a class="carousel-item" href="#two!"><img style="width:100%;" src="img/footer/footer_2.png"></a>
  <a class="carousel-item" href="#three!"><img style="width:100%;" src="img/footer/footer_3.png"></a>
  <a class="carousel-item" href="#four!"><img style="width:100%;" src="img/footer/footer_4.png"></a>
</div>
<div>
  <img style="width:100%;" src="img/footer/banner_morado.png">
</div>   
