<div id="message">
  <center>
    <h2>Bienvenidos a Trivia KPMG</h2>
    <h4>Seleccionar "QUE COMIENZE EL RETO" para iniciar la trivia.</h4>
    <h4>Recuerda que para volver salir de la trivia solo tienes que deslizar la pantalla. Suerte!!!</h4>
    <br>
      <button class="waves-effect waves-light btn modal-trigger blue darken-3 {{classAnimate}}" style="height:100%;-webkit-animation-iteration-count: infinite;" href="#modal1">
      <h3>Que comienze el reto</h3></button>
  </center>
  <br>

  <!-- Modal Structure -->
  <div id="modal1" class="modal {{stl}}" ng-class="{{stl}}">
    <div class="modal-content">  
      <h4>¿Qué selección ocupó el tercer lugar en la Copa del Mundo de 1982?</h4>
      <p class="right">Puntaje :{{correctas}} de {{contador}}</p>
      <p>Seleccione una opción:</p>
      <form>
        <p>
          <input value="a" ng-model="p1" name="p1" type="radio" id="p1o1" />
          <label style="font-size: 1em;" for="p1o1">Francia</label>
        </p>
        <p>
          <input value="b" ng-model="p1" name="p1" type="radio" id="p1o2" />
          <label style="font-size: 1em;" for="p1o2">Polonia</label>
        </p>
        <p>
          <input value="c" ng-model="p1" name="p1" type="radio" id="p1o3"  />
          <label style="font-size: 1em;" for="p1o3">Brasil</label>
        </p>
        <p>
          <input value="d" ng-model="p1" name="p1" type="radio" id="p1o4"  />
          <label style="font-size: 1em;" for="p1o4">Argentina</label>
        </p>
      </form>        
    </div>
    <div class="modal-footer">
      <button type="submit" ng-click="VP1(p1)" class="modal-action waves-effect waves-green btn-flat">Aceptar</button>
    </div>
  </div>

  <div id="modal2" class="modal {{stl}}">
    <div class="modal-content">
      <h4>¿En qué país nacieron las famosas gemelas actrices Mary-Kate y Ashley Olsen?</h4>
      <p class="right">Puntaje :{{correctas}} de {{contador}}</p>
      <p>Seleccione una opción:</p>
      <form action="#">
        <p>
          <input value="a" ng-model="p2" name="p2" type="radio" id="p2o1" />
          <label style="font-size: 1em;" for="p2o1">Estados Unidos</label>
        </p>
        <p>
          <input value="b" ng-model="p2" name="p2" type="radio" id="p2o2" />
          <label style="font-size: 1em;" for="p2o2">Australia</label>
        </p>
        <p>
          <input value="c" ng-model="p2" name="p2" type="radio" id="p2o3"  />
          <label style="font-size: 1em;" for="p2o3">Inglaterra</label>
        </p>
        <p>
          <input value="d" ng-model="p2" name="p2" type="radio" id="p2o4"  />
          <label style="font-size: 1em;" for="p2o4">Argentina</label>
        </p>
      </form> 
    </div>
    <div class="modal-footer">
      <button ng-click="VP2(p2)" class=" modal-action waves-effect waves-green btn-flat">Aceptar</button>
    </div>
  </div>

  <div id="modal3" class="modal {{stl}}">
    <div class="modal-content">
      <h4>Según la mitología griega, ¿cuál fue el primer instrumento musical que tañó Orfeo?</h4>
      <p class="right">Puntaje :{{correctas}} de {{contador}}</p>
      <p>Seleccione una opción:</p>
      <form action="#">
        <p>
          <input value="a" ng-model="p3" name="p3" type="radio" id="p3o1" />
          <label style="font-size: 1em;" for="p3o1">Laud</label>
        </p>
        <p>
          <input value="b" ng-model="p3" name="p3" type="radio" id="p3o2" />
          <label style="font-size: 1em;" for="p3o2">Arpa</label>
        </p>
        <p>
          <input value="c" ng-model="p3" name="p3" type="radio" id="p3o3"  />
          <label style="font-size: 1em;" for="p3o3">Guitarra</label>
        </p>
        <p>
          <input value="d" ng-model="p3" name="p3" type="radio" id="p3o4"  />
          <label style="font-size: 1em;" for="p3o4">Lira</label>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="VP3(p3)" class=" modal-action waves-effect waves-green btn-flat">Aceptar</button>
    </div>
  </div>

  <div id="modal4" class="modal {{stl}}">
    <div class="modal-content">
      <h4>¿Cuál es la función de R2-D2?</h4>
      <p class="right">Puntaje :{{correctas}} de {{contador}}</p>
      <p>Seleccione una opción</p>
      <form action="#">
        <p>
          <input value="a" ng-model="p4" name="o1" type="radio" id="p4o1" />
          <label style="font-size: 1em;" for="p4o1">Interprete</label>
        </p>
        <p>
          <input value="b" ng-model="p4" name="o2" type="radio" id="p4o2" />
          <label style="font-size: 1em;" for="p4o2">Comediante</label>
        </p>
        <p>
          <input value="c" ng-model="p4" name="o3" type="radio" id="p4o3"  />
          <label style="font-size: 1em;" for="p4o3">Mecanico y hace mantenimiento a las naves</label>
        </p>
        <p>
          <input value="d" ng-model="p4" name="o4" type="radio" id="p4o4"  />
          <label style="font-size: 1em;" for="p4o4">Eva</label>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="VP4(p4)" class=" modal-action waves-effect waves-green btn-flat">Aceptar</button>
    </div>
  </div>

  <div id="modal5" class="modal {{stl}}">
    <div class="modal-content">
      <h4>¿Cuál es la función de R2-D2?</h4>
      <p class="right">Puntaje :{{correctas}} de {{contador}}</p>
      <p>Seleccione una opción</p>
      <form action="#">
        <p>
          <input value="a" ng-model="p5" name="o1" type="radio" id="p5o1" />
          <label style="font-size: 1em;" for="p5o1">Interprete</label>
        </p>
        <p>
          <input value="b" ng-model="p5" name="o2" type="radio" id="p5o2" />
          <label style="font-size: 1em;" for="p5o2">Comediante</label>
        </p>
        <p>
          <input value="c" ng-model="p5" name="o3" type="radio" id="p5o3"  />
          <label style="font-size: 1em;" for="p5o3">Mecanico y hace mantenimiento a las naves</label>
        </p>
        <p>
          <input value="d" ng-model="p5" name="o4" type="radio" id="p5o4"  />
          <label style="font-size: 1em;" for="p5o4">Eva</label>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="VP5(p5)" class=" modal-action waves-effect waves-green btn-flat">Aceptar</button>
    </div>
  </div>

  <div id="modal6" class="modal {{stl}}">
    <div class="modal-content">
      <h4>¿De qué trata la galardonada serie de AMC, “The Walking Dead”?</h4>
      <p class="right">Puntaje :{{correctas}} de {{contador}}</p>
      <p>Seleccione una opción:</p>
      <form action="#">
        <p>
          <input value="a" ng-model="p6" name="o1" type="radio" id="p6o1" />
          <label style="font-size: 1em;" for="p6o1">Sobrevivientes de un apocalipsis de zombis</label>
        </p>
        <p>
          <input value="b" ng-model="p6" name="o2" type="radio" id="p6o2" />
          <label style="font-size: 1em;" for="p6o2">Un grupo de vampiros jóvenes que aterrorizan a una pequeña ciudad</label>
        </p>
        <p>
          <input value="c" ng-model="p6" name="o3" type="radio" id="p6o3"  />
          <label style="font-size: 1em;" for="p6o3">Rebeldes en una sociedad antiutópica donde están prohibidos los libros</label>
        </p>
        <p>
          <input value="d" ng-model="p6" name="o4" type="radio" id="p6o4"  />
          <label style="font-size: 1em;" for="p6o4">Sobrevivientes de un evento similar al rapto donde la mitad de la humanidad desaparece</label>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="VP6(p6)" class=" modal-action waves-effect waves-green btn-flat">Aceptar</button>
    </div>
  </div>

  <div id="modal7" class="modal {{stl}}">
    <div class="modal-content">
      <h4>Los Premios Nobel se entregan en:</h4>
      <p class="right">Puntaje :{{correctas}} de {{contador}}</p>
      <p>Encunciado de la pregunta 7</p>
      <form action="#">
        <p>
          <input value="a" ng-model="p7" name="o1" type="radio" id="p7o1" />
          <label style="font-size: 1em;" for="p7o1">Estados Unidos</label>
        </p>
        <p>
          <input value="b" ng-model="p7" name="o2" type="radio" id="p7o2" />
          <label style="font-size: 1em;" for="p7o2">Francia</label>
        </p>
        <p>
          <input value="c" ng-model="p7" name="o3" type="radio" id="p7o3"  />
          <label style="font-size: 1em;" for="p7o3">Bélgica</label>
        </p>
        <p>
          <input value="d" ng-model="p7" name="o4" type="radio" id="p7o4"  />
          <label style="font-size: 1em;" for="p7o4">Suecia</label>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="VP7(p7)" class=" modal-action waves-effect waves-green btn-flat">Aceptar</button>
    </div>
  </div>

  <div id="modal8" class="modal {{stl}}">
    <div class="modal-content">
      <h4>Los países que integran la Alianza del Pacífico son:</h4>
      <p class="right">Puntaje :{{correctas}} de {{contador}}</p>
      <p>Encunciado de la pregunta 8</p>
      <form action="#">
        <p>
          <input value="a" ng-model="p8" name="o1" type="radio" id="p8o1" />
          <label style="font-size: 1em;" for="p8o1">Chile, Colombia, México y Perú</label>
        </p>
        <p>
          <input value="b" ng-model="p8" name="o2" type="radio" id="p8o2" />
          <label style="font-size: 1em;" for="p8o2">Canadá, Estados Unidos, México y Guatemala</label>
        </p>
        <p>
          <input value="c" ng-model="p8" name="o3" type="radio" id="p8o3"  />
          <label style="font-size: 1em;" for="p8o3">México, Colombia, Argentina y Perú</label>
        </p>
        <p>
          <input value="d" ng-model="p8" name="o4" type="radio" id="p8o4"  />
          <label style="font-size: 1em;" for="p8o4">Colombia, Chile, Ecuador y Perú</label>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="VP8(p8)" class=" modal-action waves-effect waves-green btn-flat">Aceptar</button>
    </div>
  </div>

  <div id="modal9" class="modal {{stl}}">
    <div class="modal-content">
      <h4>Señale la alternativa correcta que hace referencia a dos ministros, egresados de la UNI, que forman parte del gabinete de Pedro Pablo Kuczynski.</h4>
      <p class="right">Puntaje :{{correctas}} de {{contador}}</p>
      <p>Encunciado de la pregunta 9</p>
      <form action="#">
        <p>
          <input value="a" ng-model="p9" name="o1" type="radio" id="p9o1" />
          <label style="font-size: 1em;" for="p9o1"> Fernando Zavala - Jaime Saavedra</label>
        </p>
        <p>
          <input value="b" ng-model="p9" name="o2" type="radio" id="p9o2" />
          <label style="font-size: 1em;" for="p9o2">Carlos Basombrío - Jorge Nieto</label>
        </p>
        <p>
          <input value="c" ng-model="p9" name="o3" type="radio" id="p9o3"  />
          <label style="font-size: 1em;" for="p9o3">Martín Vizcarra - Edmer Trujiilo</label>
        </p>
        <p>
          <input value="d" ng-model="p9" name="o4" type="radio" id="p9o4"  />
          <label style="font-size: 1em;" for="p9o4">Cayetana Aljovín - Alfonso Grados</label>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="VP9(p9)" class=" modal-action  waves-effect waves-green btn-flat">Aceptar</button>
    </div>
  </div>

  <div id="modal10" class="modal {{stl}}">
    <div class="modal-content">
      <h4>¿Cuál fue el verdadero nombre de Túpac Amaru II?</h4>
      <p class="right">Puntaje :{{correctas}} de {{contador}}</p>
      <p>Encunciado de la pregunta 10</p>
      <form action="#">
        <p>
          <input value="a" ng-model="p10" name="o1" type="radio" id="p10o1" />
          <label style="font-size: 1em;" for="p10o1">José Gabriel Condorcanqui</label>
        </p>
        <p>
          <input value="b" ng-model="p10" name="o2" type="radio" id="p10o2" />
          <label style="font-size: 1em;" for="p10o2">Jose gabriel Bermudez</label>
        </p>
        <p>
          <input value="c" ng-model="p10" name="o3" type="radio" id="p10o3"  />
          <label style="font-size: 1em;" for="p10o3">Jose Gabriel Bejar</label>
        </p>
        <p>
          <input value="d" ng-model="p10" name="o4" type="radio" id="p10o4"  />
          <label style="font-size: 1em;" for="p10o4">Jose Gabriel Aguilar</label>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="VP10(p10)" class=" modal-action modal-close waves-effect waves-green btn-flat">Aceptar</button>
    </div>
  </div>

  <div id="modalResultado" class="modal">
    <div class="modal-content">
      <h4>{{resTitulo}}</h4>
      <p>{{resDescripcion}}</p>      
    </div>
    <div class="modal-footer">
      <button ng-click="reiniciarT()" class=" modal-action modal-close waves-effect waves-green btn-flat">Terminar reto</button>
    </div>
  </div>



  <audio controls autoplay loop>
    <source ng-src="{{audios}}" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>    
</div>
<div class="carousel carousel-slider">
  <a class="carousel-item" href="#one!"><img style="width:100%;" src="img/footer/footer_1.png"></a>
  <a class="carousel-item" href="#two!"><img style="width:100%;" src="img/footer/footer_2.png"></a>
  <a class="carousel-item" href="#three!"><img style="width:100%;" src="img/footer/footer_3.png"></a>
  <a class="carousel-item" href="#four!"><img style="width:100%;" src="img/footer/footer_4.png"></a>
</div>
<div>
  <img style="width:100%;" src="img/footer/banner_morado.png">
</div>   
